body {
  margin: 0;
  font-family: Arial;
}
.navbar {
  position: sticky;
  top: 0;
  background: #444;
  color: white;
  padding: 15px;
  text-align: center;
}
.content {
  padding: 20px;
  height: 2000px;
}
